/* CSS files add styling rules to your content */


@font-face {
  font-family: 'HarryPotter7';
  src: url("https://cdn.glitch.com/fcb423be-46a9-48ff-999a-f6f2035a866b%2FHarryPotter7.ttf?v=1612043031275");
}

@font-face {
  font-family: 'Harry P';
  src: url("https://cdn.glitch.com/fcb423be-46a9-48ff-999a-f6f2035a866b%2FHarryPotter7.ttf?v=1612043031275");
}


